{#
 # Copyright (C) 2020 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # SPDX-License-Identifier: Apache-2.0
 #
 # This lookup template will generate a list of repository "triplets"
 # <distribution>-<release>-<arch> (e.g. epel-8-x86_64) from the content
 # of `copr_reposync_distributions`, `copr_reposync_releases` and
 # `copr_reposync_archs`.
 #}
{% set _repos = [] %}
{% for _distribution in copr_reposync_distributions %}
{%   if (_distribution in copr_reposync_releases.keys()) and
        (_distribution in copr_reposync_archs.keys()) %}
{%     for _release in copr_reposync_releases[_distribution] %}
{%       for _arch in copr_reposync_archs[_distribution] %}
{%         set _ = _repos.append(_distribution + '-' + (_release | string) + '-' + _arch) %}
{%       endfor %}
{%     endfor %}
{%   endif %}
{% endfor %}
{{ _repos | to_yaml }}
