[Service]
Environment="REPOSYNC_REPO={{ copr_reposync_include_repo }}"
Environment="REPOSYNC_URL={{ copr_reposync_url }}/{{ copr_reposync_include_repo }}/"
Environment="REPOSYNC_PATH={{ copr_reposync_repo_path }}"
