{#
 # Copyright (C) 2020 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # SPDX-License-Identifier: Apache-2.0
 #}
[Unit]
Description=COPR package repository synchronization

[Service]
Type=oneshot
User={{ copr_reposync_owner }}
ExecStartPre=/bin/echo /usr/bin/reposync --repofrompath ${REPOSYNC_REPO},${REPOSYNC_URL} --repo ${REPOSYNC_REPO} --download-path ${REPOSYNC_PATH}
ExecStart=/usr/bin/reposync --repofrompath ${REPOSYNC_REPO},${REPOSYNC_URL} --repo ${REPOSYNC_REPO} --download-path ${REPOSYNC_PATH}
ExecStartPost=/bin/echo /usr/bin/createrepo_c --update ${REPOSYNC_PATH}/${REPOSYNC_REPO}
ExecStartPost=/usr/bin/createrepo_c --update ${REPOSYNC_PATH}/${REPOSYNC_REPO}
